# Supabase Configuration
SUPABASE_URL=https://pklqumlzpklzroafmtrs.supabase.co
SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBrbHF1bWx6cGtsenJvYWZtdHJzIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NTIxMTcxNTIsImV4cCI6MjA2NzY5MzE1Mn0.eyzqg0hBZ5ZoPJKwGXPSKL96TJaPOX_p08dxt4FOn8g
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InBrbHF1bWx6cGtsenJvYWZtdHJzIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc1MjExNzE1MiwiZXhwIjoyMDY3NjkzMTUyfQ.nyH5xb6O6E0NCSnycw9AM7r3kfhs1LDrmeTiSsVODO8

# Firebase Configuration
FIREBASE_SERVICE_ACCOUNT_JSON=./backend/meallensai-40f6f-firebase-adminsdk-fbsvc-0f6274190b.json

# Paystack Configuration
PAYSTACK_SECRET_KEY=pk_live_5f7de652daf3ea53dc685902c5f28f0a2063bc33
PAYSTACK_PUBLIC_KEY=pk_live_5f7de652daf3ea53dc685902c5f28f0a2063bc33

# API Configuration
VITE_API_URL=https://recipe-ai-harmony-oqtf.onrender.com

# CORS Configuration
ALLOWED_ORIGINS=http://localhost:5173,http://localhost:5174,https://meallensai.com,https://www.meallensai.com


# SMTP Configuration for email invitations
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=danielsamueletukudo@gmail.com
SMTP_PASSWORD=iadg qrio jtqm axfg # Use Gmail App Password
FROM_EMAIL=danielsamueletukudo@gmail.com
FROM_NAME=MeallensAIe

# Frontend URL Configuration

# Frontend URL Configuration
FRONTEND_URL=http://localhost:5173
# For production: FRONTEND_URL=https://www.meallensai.com
# FRONTEND_URL=https://meallensai.com

ai_api_url=https://ai-utu2.onrender.com
